#game-interface {
  margin: 10vh auto 0 auto;
  height: 80vh;
}
#battlefield {
  width: 60%;
  height: 100%;
  background-color: rgb(39, 2, 39);
  box-sizing: border-box;
  position: relative;
  float: left;
}
#battlefield .instructions {
  color: rgb(237, 255, 233);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  font-style: italic;
}
#battlefield .countdown {
  color: rgb(237, 255, 233);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  animation: getLarger 1s infinite linear;
}
@keyframes getLarger {
  0% {
    font-size: 1px;
  }
  100% {
    font-size: 80px;
  }
}
.mole {
  width: 5.5vw;
  height: 10vh;
  position: absolute;
  /* background-image: url(../../images/arien.png); */
  background-size: 100%;
  border-radius: 50px;
  background-repeat: no-repeat;
}
.mole:hover {
  cursor: pointer;
}
.game-countdown {
  color: rgb(39, 2, 39);
  font-size: 24px;
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
}
.statistics {
  float: left;
  width: 20%;
  height: 100%;
}
#game-interface .top-div {
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
}
.top-div p {
  border-bottom: 1px solid rgb(39, 2, 39);
  padding-bottom: 1px;
}
.top-div p:hover {
  cursor: pointer;
}
#game-interface .final-result p {
  padding: 1rem;
}
#game-interface .final-result p:nth-child(2) {
  margin-bottom: 10vh;
}
.italic {
  font-style: italic;
}