#game-interface {
  margin: 10vh auto;
  height: 60vh;;
}
#battlefield {
  width: 60vw;
  height: 80vh;
  background-color: rgb(206, 229, 255);
  position: relative;
  float: left;
}
.mole {
  width: 7vh;
  height: 7vh;
  background-color: blue;
  position: absolute;
}
.statistics {
  float: left;
  width: 20vw;
  height: 80vh;
}
div.statistics:nth-child(1) {
  background-color: red;
}
div.statistics:nth-child(3) {
  background-color: yellow;
}