@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body {
  background-color: rgb(80, 165, 11);
  text-align: center;
}
* {
  color: rgb(39, 2, 39);
  font-family: 'Nanum Gothic';
  margin: 0;
  padding: 0;
}
*, input {
  font-size: calc(2vh + .2rem);
}
h1, span {
  font-size: calc(3vh + .3rem);
}
h2 {
  font-size: calc(3vh + .2rem);
}
#create-account-form, #login-form {
  margin-top: 20vh;
}
h1 {
  margin-bottom: 5vh;
}
span {
  font-style: italic;
}
.form-container {
  background-color: rgb(237, 255, 233);
  width: 40vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 5px;
}
label {
  display: block;
  margin: 2rem;
}
input {
  margin-left: .5rem;
  border: none;
  border-bottom: 2px solid rgb(39, 2, 39);
  background-color: rgb(237, 255, 233);
}
input:active, input:focus {
  outline: none;
}
button {
  padding: .5rem 1rem;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(39, 2, 39);
  color: rgb(237, 255, 233);
}
.form-feedback {
  margin: 1rem auto;
}