@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body {
  background-color: rgb(80, 165, 11);
  text-align: center;
}
* {
  color: rgb(39, 2, 39);
  font-family: 'Nanum Gothic';
  margin: 0;
  padding: 0;
}
* {
  font-size: calc(2vh + .2rem);
}