input {
  font-size: calc(2vh + .2rem);
}
h1, span {
  font-size: calc(3vh + .3rem);
}
h2 {
  font-size: calc(3vh + .2rem);
}
#create-account-form, #login-form {
  margin-top: 20vh;
}
h1 {
  margin-bottom: 5vh;
}
span {
  font-style: italic;
}
.form-container {
  background-color: rgb(237, 255, 233);
  margin: 0 auto;
  width: 40vw;
  padding: 1rem 2rem;
  border-radius: 5px;
}
label {
  display: block;
  margin: 2rem;
}
input {
  margin-left: .5rem;
  border: none;
  border-bottom: 2px solid rgb(39, 2, 39);
  background-color: rgb(237, 255, 233);
}
input:active, input:focus {
  outline: none;
}
button {
  padding: .5rem 1rem;
  border-radius: 10px;
}
button:active, button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(39, 2, 39);
  color: rgb(237, 255, 233);
}
.form-feedback {
  margin: 1rem auto;
  font-style: italic;
  color: red;
}
a {
  text-decoration: none;
  border-bottom: 1px solid rgb(39, 2, 39);
}